.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fas.fa-bell.fa-lg.toggle-notifications#notifications(data-bs-toggle='dropdown' aria-expanded='false')
    .dropdown-menu(aria-labelledby='notifications')
      .noti-head
        | Notifications
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fas.fa-dollar-sign.fa-lg
            | You Got A Donation From A Guest
          li
            i.fas.fa-envelope-open-text.fa-lg
            | Message From Ahmed Samahi
          li
            i.far.fa-thumbs-up.fa-lg
            | You Got Like From Elzero Web School Admin
      .noti-foot.text-center: a(href="#") View All Notifications