.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fas.fa-bell.header-icon.fa-lg.toggle-notifications#notifications(data-bs-toggle='dropdown' aria-expanded='false')
    .dropdown-menu(aria-labelledby='notifications')
      .noti-head
        | Notifications
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fas.fa-dollar-sign.fa-lg
            | You Got A Donation From A Guest
          li
            i.fas.fa-envelope-open-text.fa-lg
            | Message From Ahmed Samahi
          li
            i.far.fa-thumbs-up.fa-lg
            | You Got Like From Elzero Web School Admin
      .noti-foot.text-center: a(href="#") View All Notifications
  i.fas.fa-expand-arrows-alt.fa-lg.toggle-fullscreen.header-icon
  .dropdown.usermenu-container
    .username#usermenu(data-bs-toggle='dropdown' aria-expanded='false')
      img.avatar.rounded-circle(src="imgs/avatar.png", alt="User Avatar")
      span.user GH EXE
      i.fas.fa-angle-down
    .dropdown-menu.dropdown-menu-end(aria-labelledby='usermenu')
      .user-info
        h3 GH EXE
        p Premium Member
      hr
      ul.activities-list.list-unstyled
        li Added Comment On Post "How To Create A Shell Script Auto Updated"
        li Created Post On Annon Catergory
        li Post "Make Asyn PHP Scripts"
        li Added Comment On Post "Cryptographique From Scratch"
      hr
      .row.usermenu-links
        .col
          .link-box
            i.fas.fa-cog
            span Settings
        .col
          .link-box
            i.fas.fa-user
            span Profile
        .col
          .link-box
            i.fas.fa-sign-out-alt
            span Logout
        


