.sidebar
  .log-area.text-center GHEXE
  ul.links-area.list-unstyled
    li: a(href="#") Homepage
    li
      a.toggle-submenu(href="#") 
        |Forms
        i.fas.fa-angle-right
      ul.child-links.list-unstyled
        li: a(href="#") Input
        li: a(href="#") Textarea
        li: a(href="#") Checkbox
        li: a(href="#") Radio
    li
      a.toggle-submenu(href="#")
        |Misc
        i.fas.fa-angle-right
      ul.child-links.list-unstyled
        li: a(href="#") Loading
        li: a(href="#") BreadCrumbs