.settings-box.hide-settings
  .toggle-settings
    i.fas.fa-tools.fa-lg
  .settings-content
    .option-box
      h4 Color Options
    .option-box
      h4 Font Options
    .option-box
      h4 Sidebar Options